.registerContainer {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #dadada;
  color: #292929;
  font-family: "Roboto", sans-serif;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
